*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
body{
    font-family: sans-serif;
    font-size: 14px;
}
.card{
    width: 31%;
    display: inline-block;
    padding: 0 1%;
    margin: 0 1%;
}
.card-image{
    position: relative;
    cursor: pointer;
}
.first-image{
    display: block;
}
.second-image{
    display: none;
}