*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
body{
    font-family: sans-serif;
    font-size: 14px;
}
.card{
    width: 31%;
    display: inline-block;
    padding: 0 1%;
    margin: 0 1%;
    margin-top: 2%;
}
.card-image{
    position: relative;
    cursor: pointer;
}
.card-image .first-image{
    display: block;
}
/* per far cambiare immagine al passaggio del mouse */
.card-image:hover .second-image{
    display: block;
}
.card-image:hover .first-image{
    display: none;
}
.card-image .second-image{
    display: none;
}
.card img{
    width: 100%;
}
.card-heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    font-size: 20px;
    padding: 10px 15px;
}
.card-promo{
    position: absolute;
    left: 0;
    bottom: 20px;
}
.card-promo span{
   display: inline-block;
   padding: 5px;
   color: white;
}
.card-discount{
    background-color: red;
}
.card-tag{
    background-color: seagreen;
}
.product-name{
    text-transform: uppercase;
}
.price{
    color: red;
}
.original{
    color: grey;
}
.brand{
    color: darkgrey;
}